body{
    font-family:Arial;
    background:#f4f4f4;
}

.header{
    background:#ff9900;
    padding:15px;
    color:white;
    display:flex;
    justify-content:space-between;
}

.logout{
    color:white;
    text-decoration:none;
}

.form-container{
    background:white;
    padding:20px;
    margin:20px;
    border-radius:8px;
}

input, textarea, select{
    width:100%;
    margin:10px 0;
    padding:10px;
}

button{
    background:#ff9900;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}

table{
    width:90%;
    margin:20px;
    background:white;
    border-collapse:collapse;
}

td, th{
    padding:10px;
    border:1px solid #ddd;
}

.low-stock{
    background:#ffe0b3;
}

.badge{
    padding:5px 10px;
    cursor:pointer;
}

.in{ background:green; color:white; }
.out{ background:red; color:white; }